.pricer
    margin-top: 40px

    &__title
        font-family: 'Helvetica Neue', Arial, sans-serif
        font-size: 18px
        letter-spacing: .02em
        margin: 0 0 20px
        display: inline-block

    &__value-for-price
        font-family: 'Helvetica Neue', Arial, sans-serif
        font-size: 13px
        font-style: italic
        display: inline
        margin-left: 10px

    &__table
        font-family: Arial, sans-serif
        font-size: 14px
        border-collapse: collapse

        td
            padding: 6px 20px

    &__thead
        background-color: #6481b0
        color: #fff

    &__tbody
        tr:nth-child(even)
            td
                background-color: #e3ebf9
