.filter
    margin-top: 38px
    counter-reset: list

    &__title
        font-family: 'Helvetica Neue', Arial, sans-serif
        font-size: 18px
        letter-spacing: .02em
        margin: 0 0 20px
