.confirmer
    &__modal
        .modal__content
            padding: 20px
            width: 800px

    &__title
        text-align: center
        font-size: 18px
        font-family: 'Helvetica Neue', sans-serif

    &__table
        margin-top: 20px
        font-size: 14px
        font-family: Arial, sans-serif

        td
            vertical-align: top
            padding-top: 20px

    &__controls
        margin-top: 40px
        text-align: right

    &__back-to-checkout
        margin-right: 40px !important

    &__close-modal
        margin-right: 20px !important

    &__order-items
        margin-top: 20px
        font-family: Arial, sans-serif
        font-size: 14px
        border-collapse: collapse
        counter-reset: list
        width: 100%

        thead td
            padding-bottom: 10px
            border-bottom: 1px solid #6481b0

        td
            vertical-align: top
            padding-top: 20px

    &__order-item-title
        margin-left: 2em
        position: relative

        &:before
            content: counter(list)'. '
            counter-increment: list
            position: absolute
            left: -3em
            min-width: 2em
            text-align: right

    &__params-list
        margin-top: 30px
        font-family: Arial, sans-serif
        font-size: 14px

        td
            vertical-align: top
            padding-top: 10px
            padding-right: 40px
