.header__main {
    box-shadow: 0 1px #283345;
    background: linear-gradient(to bottom, #7a9dd6, #617eab);
}

.header__main-wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 10px 0 9px;
    overflow: hidden;
}

.header__phone-number {
    display: inline-block;
    float: right;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 40px;
}
