.main-menu {
    margin-left: 80px;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 16px;
    letter-spacing: .02em;
    line-height: 40px;
}

.main-menu .link {
    color: #e1e7f0;
    text-decoration: none;
    margin-right: 50px;
    position: relative;
    display: inline-block;
}

.main-menu .link:hover {
    color: #fff;
}

.main-menu .link_active {
    color: #fff;
    border-bottom: 1px solid;
}
