.statuser
    &__modal
        .modal__content
            padding: 20px
            width: 800px

        .spin
            margin-top: 20px

    &__title
        text-align: center
        font-size: 18px
        font-family: 'Helvetica Neue', sans-serif

    &__text
        margin-top: 40px
        font-size: 14px
        line-height: 20px
        font-family: Arial, sans-serif

    &__controls
        margin-top: 40px
        text-align: right

    &__retry
        margin-left: 40px !important
