.photo-slider
    margin-top: 40px

    &__current 
        margin-bottom: 6px
        border: 1px solid #f6f5f3
        line-height: 0

    &__current .image
        width: 100%

    &__thumbnails
        overflow-x: auto

    &__thumbnails-inner
        white-space: nowrap

    &__thumbnail
        width: 120px
        margin-right: 10px
        cursor: pointer
        display: inline
