.photo-slider {
    margin-top: 40px;
}

.photo-slider__current {
    margin-bottom: 6px;
}

.photo-slider__current .image {
    width: 100%;
}

.photo-slider__thumbnail {
    width: 120px;
    margin-right: 10px;
    cursor: pointer;
}
