.products__title {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-family: Arial, sans-serif;
    font-size: 24px;
    line-height: 80px;
    color: #fff;
    font-weight: normal;
    margin: 0;
    letter-spacing: .02em;
    background-repeat: no-repeat;
}

.products__title_direction_left {
    text-align: right;
    background-image: url('products__title_direction_left.png');
    background-position: left 50%;
}

.products__title_direction_right {
    text-align: left;
    background-image: url('products__title_direction_right.png');
    background-position: right 50%;
}
