.logo
    display: block
    float: left

    &__image
        height: 40px
        width: 46px
        vertical-align: top
        background-image: url('logo.svg')
        background-repeat: no-repeat
        display: inline-block

    &__text
        display: inline-block
        color: #fff
        font-family: Arial, sans-serif
        font-size: 12px
        letter-spacing: .02em
        line-height: 13px
        margin-left: 10px
        margin-top: 1px
