.logo {
    background-image: url('logo.svg');
    background-repeat: no-repeat;
    height: 40px;
    display: block;
    padding-left: 56px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 12px;
    letter-spacing: .02em;
    line-height: 13px;
    width: 104px;
    text-decoration: none;
    float: left;
}
