.item-deleter
    width: 20px
    height: 20px
    border-radius: 50%
    text-align: center
    border: 1px solid #fa0a0a
    color: #fa0a0a
    line-height: 20px
    margin: 3px auto 0

    &:hover
        color: #fff
        background-color: #fa0a0a
        cursor: pointer
