.number-picker {
    margin-top: 40px;
}

.number-picker__header {
    font-family: Arial, sans-serif;
    font-size: 16px;
    letter-spacing: .02em;
    position: relative;
    margin-left: 20px;
}

.number-picker__header:before {
    position: absolute;
    content: counter(list);
    counter-increment: list;
    width: 20px;
    height: 20px;
    border: 2px solid #6481b0;
    left: -30px;
    top: -3px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

.number-picker_picked .number-picker__header:before {
    background-color: #6481b0;
    color: #fff;
    font-weight: bold;
}

.number-picker__form {
    margin-top: 20px;
    width: 430px;
    display: inline-block;
    vertical-align: top;
}

.number-picker__multiply,
.number-picker__equal {
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
    width: 40px;
    text-align: center;
    height: 30px;
}

.number-picker__price,
.number-picker__coast,
.number-picker__number {
    display: inline-block;
    vertical-align: top;
}

.number-picker__price .input__control,
.number-picker__coast .input__control {
    color: #000;
    height: 22px;
    width: 120px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: right;
}

.number-picker__order-description {
    font-family: Arial, sans-serif;
    font-size: 13px;
    width: 250px;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 40px;
    float: right;
}

.number-picker__order-description_hidden {
    display: none;
}

.number-picker__submit {
    width: 120px;
    height: 40px;
    background-color: #e7e6d4;
    border: 1px solid #e6e9ed;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #eee;
    margin-top: 40px;
    margin-left: 300px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: #333;
}

.number-picker__submit_active {
    cursor: pointer;
    background-color: #fff200;
}

.number-picker__submit_active:active {
    box-shadow: none;
}
