.products-menu
    font-family: Arial, sans-serif

    &__category
        margin-bottom: 40px

    &__categoryName
        color: #000
        font-size: 14px
        text-decoration: none

        &:hover
            text-decoration: underline

    &__links
        padding-left: 10px

    &__link
        display: block
        margin-top: 10px

        .link
            color: #fa0a0a
            font-size: 12px

        &_active .link
            color: #000
            text-decoration: none
            margin-left: -10px
            padding-left: 7px
            border-left: 3px solid #6481b0
