.checkouter
    &__modal
        .modal__content
            padding: 20px
            width: 800px

        .radio-group
        .select
        .input
        .textarea
            margin-left: 40px

        .input
        .textarea
            width: 400px

    &__title
        text-align: center
        font-size: 18px
        font-family: 'Helvetica Neue', sans-serif

    &__table
        margin-top: 20px
        font-size: 14px
        font-family: Arial, sans-serif

        td
            vertical-align: top
            padding-top: 20px

    &__controls
        margin-top: 40px
        text-align: right

    &__back-to-order
        margin-right: 40px !important

    &__close-modal
        margin-right: 20px !important

    &__address-tr
        &_invisible
            display: none

    &__address-input
    &__buyer-name-input
    &__phone-input
    &__email-input
        &_wrong
            background: rgba(250, 10, 10, .6)
            box-shadow: 0 0 0 1px #fa0a0a, inset 0 0 0 1px #fa0a0a

    &__delivery-date-another
        margin-left: 20px !important
        width: 128px !important

        &_hidden
            visibility: hidden

        &_wrong
            background: rgba(250, 10, 10, .6)
            box-shadow: 0 0 0 1px #fa0a0a, inset 0 0 0 1px #fa0a0a
