.color-picker

    &__header
        font-family: Arial, sans-serif
        font-size: 16px
        letter-spacing: .02em
        position: relative
        margin-left: 20px

        &::before
            position: absolute
            content: counter(list)
            counter-increment: list
            width: 20px
            height: 20px
            border: 2px solid #6481b0
            left: -30px
            top: -3px
            border-radius: 50%
            text-align: center
            line-height: 20px
            font-size: 14px

            ^[0]_picked &
                background-color: #6481b0
                color: #fff
                font-weight: bold

    &__coating-type.radio-group
        display: block
        margin-top: 20px

    &__picker-renolit
    &__picker-ral
        margin-top: 20px
        display: none

    &_visible-picker_renolit &__picker-renolit
    &_visible-picker_ral &__picker-ral
        display: inline-block

    &__color
        border: 1px solid #e5e5e5
        margin-top: 20px
        background-size: cover
        width: 144px
        height: 80px
        display: none

        ^[0]_picked &
            display: block

    &__select-icon
        width: 20px
        margin-right: 4px
        margin-left: -24px

    &__picked-color-description
        display: inline
        font-weight: bold
