.title {
    margin-top: 80px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    text-align: center;
    color: #fff;
}

.title__name {
    font-size: 48px;
}

.title__description {
    font-size: 28px;
    font-weight: normal;
    margin: 0;
}
